.checkbox {
  display: flex;
  margin: 5px;
  width: 250px;

  &-text {
    width: 90%;
    border-radius: 5px;
    margin-top: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  &-check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
  }
}

.question {
    width: 300px;
    height: 70px;
    border-radius: 5px;
    margin-top: 5px;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}

.add-question {
    margin-top: 5px;
}