.left {
  margin: 10px;
  width: 20%;
}

.center {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  width: 20%;
}

.game {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  &-question {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom right, green, blue);
    width: 700px;
    height: 10em;
    opacity: 0.7;
  }
  &-board {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &-answer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom right, black, blue);
    height: 5em;
    width: 400px;
  }
  &-answer:hover {
    background: green;
    cursor: pointer;
  }

  .hide-answer {
    display: none;
  }
}

.info {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 5px solid green;

  &-queue {
    display: flex;
    flex-direction: column-reverse;

    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
    }
  }
  &-score {
    color: white;
    font-size: 25px;
    font-weight: 600;
  }
  &-help {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #00008b;
    color: white;
    font-weight: 600;
    font-size: 25px;

    &:hover {
      opacity: 0.5;
    }
  }

  &-current {
    background-color: green;
    border-radius: 10px;
  }
}

.congratulation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 250px;
  color: #ff0000;
  font-size: 30px;
  font-weight: 800;
  background-color: #adff2f;
}
