.left {
  margin: 10px;
  width: 20%;
}

.center {
  width: 60%;
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  width: 20%;
}

.game {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  &-answer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom right, black, blue);
    height: 50px;
  }
  .hide-answer {
    display: none;
  }
}
.info {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 5px solid green;

  &-queue {
    display: flex;
    flex-direction: column-reverse;

    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
    }
  }
  &-score {
    color: white;
  }
  &-help {
    color: white;
  }
  &-current {
    background-color: green;
    border-radius: 10px;
  }
}
